{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mundo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "styles/mundo.css" %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="flex">
                <div class="flex">
                    <img src="{% static "img/hollow-knight-icon.png" %}" class="page-icon">
                    <div class="flex">
                        <h1> Hollow knight </h1>
                        <h2> wiki </h2>
                    </div>
                </div>
                <img src="{% static "img/teamcherry-icon.png"%}" class="developer-logo">
        </header>
        <hr class="headerbar">
        <main class="flex">
            <div class="flex topico">
                <img src="{% static "img/topico-vector.png" %}" alt="tópico vector">
                <h1>Mundo</h1>
            </div>

            <nav class="flex nav-main">
                <div class="flex nav-tittle">
                    <h3>Navegue por:</h3>
                    <h2>Hollow Knight</h2>
                    <img src="{% static "img/decorator.png" %}" alt="decorador de titulo">
                </div>
                <ul class="flex">
                    <li class="flex"><img class="nav-page-icon" src="{% static "img/hollow-knight-icon.png" %}" alt="inicio icone"><a href="">Início</a></li>
                    <li class="flex"><img class="nav-page-icon" src="{% static "img/mundo-icon.png" %}" alt="mundo icone"><a href="">Mundo</a></li>
                    <li class="flex"><img class="nav-page-icon" src="{% static "img/items-icon.png" %}" alt="itens e habilidades icone"><a href="">Itens e Habilidades</a></li>
                    <li class="flex"><img class="nav-page-icon" src="{% static "img/exploração-icon.png" %}" alt="exploração icone"><a href="">Exploração</a></li>
                    <li class="flex"><img class="nav-page-icon" src="{% static "img/inimigos-icon.png" %}" alt="Inimigos e chefes icone"><a href="">Inimigos e Chefes</a></li>
                </ul>
                <img src="{% static "img/navbar-avatar.png" %}" alt="hollow knight personagem">
            </nav>

            <div class="flex container">
                <nav class="flex nav-inter">
                    <ul class="flex">
                        <li><a href="">Introdução</a></li>
                        <li><a href="">Objetivo</a></li>
                        <li><a href="">Indice</a></li>
                        <li><a href="">Destaques</a></li>
                    </ul>
                </nav>
                <section class="flex historia">
                    <div class="flex subtopico">
                        <img src="{% static "img/subtopico-vector.png" %}" alt="subtopico vector">
                        <h2>História</h2>
                    </div>
                    <div class="flex historia-conteudo">
                        <div class="flex historia-texto">
                            <p>Hollow Knight se passa no antigo reino de Hallownest, um vasto mundo subterrâneo habitado por insetos e criaturas esquecidas. O reino, outrora próspero e cheio de vida, entrou em decadência após uma misteriosa infecção começar a se espalhar, corrompendo mentes e destruindo sua civilização.</p>
                            <p>O jogador assume o papel de um cavaleiro sem nome que adentra esse mundo em busca de respostas. À medida que explora ruínas, cidades abandonadas e templos sombrios, descobre fragmentos da história de Hallownest, seus governantes e o sacrifício feito para conter a infecção.</p>
                            <p>O enredo é contado de forma indireta, através de diálogos, descrições de itens e cenários. Essa abordagem cria uma atmosfera misteriosa e profunda, convidando o jogador a montar sua própria interpretação da narrativa enquanto descobre segredos ocultos do reino.</p>
                        </div>
                        <div class="flex historia-imagem">
                            <img src="{% static "img/mundo-main.jpeg" %}" alt="hollow knight personagem principal">
                            <p>O Hollow Knight, receptáculo criado para conter a infecção de Hallownest, selado no coração do reino como último sacrifício.</p>
                        </div>
                    </div>
                </section>
                <section class="flex">
                    <div class="flex subtopico">
                        <img src="{% static "img/subtopico-vector.png"%}" alt="subtopico vector">
                        <h2>Card Personagem</h2>
                    </div>
                    <br>
                    {% for personagem in personagens %}
                    <div class="flex personagem">
                        <hr class="barra-lateral">
                        <div class="flex">
                            <div class="flex descricao">
                                <h3>{{personagem.nome}}</h3>

                                <p>{{personagem.descricao}}</p>
                            </div>

                            <div class="flex card">
                                <img src="{{personagem.img.url}}" alt="personagem imagem">
                                <div class="flex">
                                    <h4>Info sobre o personagem</h4>
                                    <p>{{personagem.funcao}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </section>
            </div>
        </main>
        <footer class="flex">
            <div class="flex">
                <div class="flex contatos">
                    <h3>Contatos</h3>
                    <p>Email: contact@teamcherry.com.au</p>
                    <div class="flex">
                        <a href="https://twitter.com/TeamCherryGames" target="_blank"><img src="{% static "img/twitter.png" %}" alt="twitter icon"></a>
                        <a href="https://www.youtube.com/user/teamcherrygames" target="_blank"><img src="{% static "img/youtube.png" %}" alt="youtube icon"></a>
                        <a href="https://www.facebook.com/teamcherrygames" target="_blank"><img src="{% static "img/facebook.png"%}" alt="facebook icon"></a>
                    </div>
                </div>
                <div class="flex logos">
                    <img src="{% static "img/hollow-knight-icon.png"%}">
                    <img src="{% static "img/teamcherry-icon.png"%}">
                </div>
                <a href="#" class="footer-feedback">Deixe <br> seu feedback!</a>
            </div>
            <p>© 2025 Hollow Knight Wiki  - Todos os direitos reservados à Team Cherry</p>
        </footer>
    </body>
</html>